.App {
  
  background-color: rgb(236, 224, 170);
  height: 1000px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-body{
  margin: auto;
  width: 48%;
  border: 3px solid rgb(206, 108, 17);
  padding: 10px;
  height: 18%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
